.container {
  display: inline-block;
  width: 60%;
  max-width: 36rem;
}

@media only screen and (max-width: 600px) {
  .container {
    width: inherit;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media only screen and (min-width: 600px) {
  .container {
    width: 80%;
  }
  .user-input::part(base) {
    min-width: 480px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    width: 60%;
  }
  .user-input::part(base) {
    min-width: 480px;
  }
}

.user-input::part(input) {
  color: #fff;
  padding: 2rem;
  font-size: 1.5rem;
}

.user-input::part(base) {
  border-color: #0ea5e9;
  height: 4rem;
  line-height: 4rem;
  width: 100%;
}

.user-input::part(form-control-label) {
  color: #a3a3a3;
  float: left;
  font-size: 0.9rem;
}

.cron-container {
  margin-top: 1rem;
  display: inline-flex;
  align-items: end;
}

.cron-input::part(input) {
  font-family: monospace;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  color: #fff;
  cursor: pointer;
  text-align: center;
  background-color: #0a0a0a;
  width: 300px;
}

.cron-input::part(form-control-label) {
  color: #a3a3a3;
  float: left;
  font-size: 0.9rem;
}

.copy-button::part(button) {
  background: #202020;
  width: 4rem;
  height: 40px;
}

.copy-button::part(copy-icon) {
  margin: auto;
}

.copy-button::part(success-icon) {
  margin: auto;
}

.copy-button::part(error-icon) {
  margin: auto;
}

.next-date {
  margin-top: 1rem;
  color: #a3a3a3;
  font-size: 0.9rem;
}

.date {
  color: #fff;
  font-size: bold;
}
