body {
  background-color: #0a0a0a;
  color: #fff;
  font-family: 'Lato';
  font-style: 'normal';
}

.title-text {
  font-size: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.center-container {
  text-align: center;
}
