body {
  background-color: #0a0a0a;
  color: #fff;
  font-family: 'Lato';
  font-style: 'normal';
}

.title-text {
  font-size: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.center-container {
  text-align: center;
}

.what-is {
  border-top: 1px solid #262626;
  display: inline-block;
  padding-top: 1rem;
}

.what-is-title {
  margin-bottom: 1rem;
  color: #d4d4d4;
  font-size: 1.25rem;
}

.issues {
  color: #a3a3a3;
  font-size: 0.9rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.issues-link {
  color: #0ea5e9;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
